################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/VGR - Camion [Adic]/v15/Server/sqlite3
/bin/Debug/Stic/FactElect_SGR
/bin/Debug
/.vs/VGR - Camion [Adic]/v15
/.vs/VGR - Camion [Adic]/v15
/.vs/VGR - Camion [Adic]/v15
/.vs/VGR - Camion [Adic]/v15
/.vs/VGR - Camion [Adic]/v15/Server/sqlite3/db.lock
/.vs/VGR - Camion [Adic]/v15/Server/sqlite3/storage.ide
/.vs/VGR - Camion [Adic]/v15
/.vs/VGR - Camion [Adic]/v15
/.vs/VGR - Camion [Adic]
